/* В вашем файле CSS, например, src/index.css */

/* Базовые стили Tailwind CSS (если вы их используете) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Добавьте или убедитесь, что эти правила присутствуют */
html, body, #root {
  margin: 0; /* Убираем все внешние отступы */
  padding: 0; /* Убираем все внутренние отступы */
  height: 100%; /* Гарантируем, что они занимают всю высоту окна просмотра */
  width: 100%; /* Гарантируем, что они занимают всю ширину окна просмотра */
  overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку, если контент выходит за пределы */
}